<form [formGroup]="form" (submit)="form.valid && submit()" *ngIf="!isSuccessful">
  <div class="mb-3">
    <label for="currentPasswordInput" class="form-label">Current password</label>
    <input type="password" class="form-control" id="currentPasswordInput"
           placeholder="Enter your password" formControlName="currentPassword" appAutoFocus>

    <p class="text-danger fw-bold" *ngIf="currentPassword.errors?.required && currentPassword.touched">
      Current password is required
    </p>
  </div>

  <div class="mb-3">
    <label for="newPasswordInput" class="form-label">New password</label>
    <input type="password" class="form-control" id="newPasswordInput"
           placeholder="Enter your password" formControlName="newPassword">

    <p class="text-danger fw-bold" *ngIf="newPassword.errors?.required && newPassword.touched">
      New password is required
    </p>
    <p class="text-danger fw-bold" *ngIf="newPassword.errors?.pattern && newPassword.touched">
      New password is invalid or too easy
    </p>
  </div>

  <div class="mb-3">
    <label for="newPasswordConfirmInput" class="form-label">Confirm password</label>
    <input type="password" class="form-control" id="newPasswordConfirmInput"
           placeholder="Enter your password again" formControlName="confirmNewPassword">

    <p class="text-danger fw-bold"
       *ngIf="confirmNewPassword.errors?.required && confirmNewPassword.touched && confirmNewPassword.touched">
      Password confirmation is required
    </p>
    <p class="text-danger fw-bold"
       *ngIf="form.errors?.passwordMismatch && confirmNewPassword.touched && confirmNewPassword.touched">
      New password and confirmation don`t match
    </p>
  </div>

  <div class="alert alert-warning" *ngIf="isFailed">
    Operation failed!<br />{{ errorMessage }}
  </div>
  <button type="submit" class="btn btn-primary w-100 mb-1" [disabled]="form.invalid">Change password</button>
</form>
<div class="alert alert-success text-center" *ngIf="isSuccessful">
  Password successfully changed!
</div>
