<div class="container">
  <div class="row">
    <div>
      <button class="btn btn-secondary" routerLink="/tasks/{{taskDetails?.id ?? ''}}">
        <- Back to task
      </button>
      <h1>My attempts</h1>
      <h2>Task: {{ taskDetails?.title ?? "" }}</h2>
    </div>

    <!-- message alerts -->
    <div class="alert mb-0 alert-danger mt-3 text-center border-danger" *ngIf="isError">
      <h4>{{ errorMessage }}</h4>
    </div>

    <div class="alert mb-0 alert-info mt-3 text-center border-info" *ngIf="isLoading">
      <h4>Loading...</h4>
    </div>

    <div class="alert alert-info text-center mt-4 border-info" *ngIf="isEmptyResult">
      <h4>There are no solution attempts yet!</h4>
    </div>
    <!-- message alerts -->

    <div
      *ngFor="let attempt of attemptsViewModel.rows"
      class="border border-2 rounded-2 mt-2 p-2 d-flex flex-column"
    >
      <h4 class="text-end me-2 mb-0">
        {{datePipe.transform(attempt.createDate, 'yyyy-MM-dd HH:mm:ss')}}
      </h4>
      <ace
        [disabled]="true"
        mode="{{getEditorModeFromLanguageName()}}"
        [theme]="'crimson_editor'"
        [value]="attempt.code"
        class="flex-fill w-auto m-2 editor"
        [ngClass]="attempt.success ? 'editor-success': 'editor-failure'"
      >
      </ace>
    </div>

    <!-- pagination -->
    <div class="mt-2 d-flex justify-content-start row" *ngIf="!isEmptyResult && !isError && !isLoading">
      <div class="col-lg-3 col-md-1"></div>
      <div class="col-lg-6 col-md-10 d-flex justify-content-center">
        <nav aria-label="Page navigation" class="">
          <ul class="pagination border border-2 rounded-3 border-secondary cursor-pointer">
            <li class="page-item" *ngIf="attemptsViewModel.hasPrevious">
              <a class="page-link" aria-label="Previous"
                 (click)="updatePageNumberAndView((filterForm.value.pageNumber ?? 2) - 1)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let pageNumber of getPaginationBackRange()">
              <a class="page-link" (click)="updatePageNumberAndView(pageNumber)">
                {{ pageNumber }}
              </a>
            </li>

            <li class="page-item">
              <a class="page-link current-page text-black">
                {{attemptsViewModel.currentPage}}
              </a>
            </li>

            <li class="page-item" *ngFor="let pageNumber of getPaginationFrontRange()">
              <a class="page-link" (click)="updatePageNumberAndView(pageNumber)">
                {{ pageNumber }}
              </a>
            </li>

            <li class="page-item" *ngIf="attemptsViewModel.hasNext">
              <a class="page-link" aria-label="Next"
                 (click)="updatePageNumberAndView((filterForm.value.pageNumber ?? 0) + 1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-sm-12">
        <form [formGroup] = 'filterForm' class="d-flex justify-content-end align-items-center">
          <label class="form-label align-bottom text-end me-2">Tasks per page: </label>
          <select formControlName="pageSize"
                  class="form-select select-width"
                  (change)="updatePageNumberAndView(1)">
            <option *ngFor="let variant of pageCountVariants"
                    value="{{variant}}">{{variant}}</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
