<div class="container col-md-6 offset-md-3 bg-secondary bg-opacity-10
  rounded-4 p-3 border border-dark border-3 border-opacity-50"
     *ngIf="!isSuccessful && !isNotValidLink">
  <h1 class="fw-bold text-primary text-center">Reset password</h1>
  <form [formGroup]="form" (submit)="form.valid && submit()">
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput"
             placeholder="Enter your password" formControlName="password">

      <p class="text-danger fw-bold" *ngIf="password.errors?.required && password.touched">
        Password is required
      </p>
      <p class="text-danger fw-bold" *ngIf="password.errors?.pattern && password.touched">
        Password is invalid or too easy
      </p>
    </div>

    <div class="mb-3">
      <label for="passwordConfirmInput" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="passwordConfirmInput"
             placeholder="Enter your password again" formControlName="confirmPassword">

      <p class="text-danger fw-bold"
         *ngIf="confirmPassword.errors?.required && password.touched && confirmPassword.touched">
        Password confirmation is required
      </p>
      <p class="text-danger fw-bold"
         *ngIf="form.errors?.passwordMismatch && password.touched && confirmPassword.touched">
        Password and confirmation don`t match
      </p>
    </div>

    <div class="alert alert-warning" *ngIf="isFailed">
      Operation failed!<br />{{ errorMessage }}
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-1" [disabled]="form.invalid || submitDone">Reset</button>
  </form>
</div>
<div class="alert alert-danger col-md-6 offset-md-3" *ngIf="isNotValidLink">
  Wrong link!
</div>
<div class="alert alert-success col-md-6 offset-md-3" *ngIf="isSuccessful">
  Password is successfully reset!
</div>

