<div class="container col-md-6 offset-md-3 bg-secondary bg-opacity-10
  rounded-4 p-3 border border-dark border-3 border-opacity-50"
     *ngIf="!isSuccessful">
  <h1 class="fw-bold text-primary text-center">Forgot Password</h1>
  <form [formGroup]="form" (submit)="form.valid && submit()">
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
             placeholder="example@mail.com" formControlName="email">

      <p class="text-danger fw-bold" *ngIf="email.errors?.required && email.touched">Email is required</p>
      <p class="text-danger fw-bold" *ngIf="email.errors?.email && email.touched">Email is invalid</p>
    </div>

    <div class="alert alert-warning" *ngIf="isFailed">
      Operation failed!<br />{{ errorMessage }}
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-1" [disabled]="form.invalid">Send</button>
  </form>
</div>
<div class="alert alert-success col-md-6 offset-md-3" *ngIf="isSuccessful">
  Your registration is successful! Check your email for verification instructions!
</div>

